In [32]:
import numpy as np
import pandas as pd
import os
import sqlite3 as sql

In [33]:
database='/content/movies.sqlite'
db=sql.connect(database)
print('database is connected now !')

database is connected now !

In [34]:
#Question 1: Can you get all data about movies?
q1= """ select * from movies"""
r1=pd.read_sql(q1,db)
print(r1)

         id                            original_title     budget  popularity  \
0     43597                                    Avatar  237000000         150
1     43598  Pirates of the Caribbean: At World's End  300000000         139
2     43599                                   Spectre  245000000         107
3     43600                     The Dark Knight Rises  250000000         112
4     43601                               John Carter  260000000          43
...     ...                                       ...        ...         ...
4768  48395                               El Mariachi     220000          14
4769  48396                                 Newlyweds       9000           0
4770  48397                 Signed, Sealed, Delivered          0           1
4771  48398                          Shanghai Calling          0           0
4772  48399                         My Date with Drew          0           1

     release_date     revenue                                     title  \
0      2009-12-10  2787965087                                    Avatar
1      2007-05-19   961000000  Pirates of the Caribbean: At World's End
2      2015-10-26   880674609                                   Spectre
3      2012-07-16  1084939099                     The Dark Knight Rises
4      2012-03-07   284139100                               John Carter
...           ...         ...                                       ...
4768   1992-09-04     2040920                               El Mariachi
4769   2011-12-26           0                                 Newlyweds
4770   2013-10-13           0                 Signed, Sealed, Delivered
4771   2012-05-03           0                          Shanghai Calling
4772   2005-08-05           0                         My Date with Drew

      vote_average  vote_count  \
0              7.2       11800
1              6.9        4500
2              6.3        4466
3              7.6        9106
4              6.1        2124
...            ...         ...
4768           6.6         238
4769           5.9           5
4770           7.0           6
4771           5.7           7
4772           6.3          16

                                               overview  \
0     In the 22nd century, a paraplegic Marine is di...
1     Captain Barbossa, long believed to be dead, ha...
2     A cryptic message from Bondâ€™s past sends him o...
3     Following the death of District Attorney Harve...
4     John Carter is a war-weary, former military ca...
...                                                 ...
4768  El Mariachi just wants to play his guitar and ...
4769  A newlywed couple's honeymoon is upended by th...
4770  "Signed, Sealed, Delivered" introduces a dedic...
4771  When ambitious New York attorney Sam is sent t...
4772  Ever since the second grade when he first saw ...

                                                tagline     uid  director_id
0                           Enter the World of Pandora.   19995         4762
1        At the end of the world, the adventure begins.     285         4763
2                                 A Plan No One Escapes  206647         4764
3                                       The Legend Ends   49026         4765
4                  Lost in our world, found in another.   49529         4766
...                                                 ...     ...          ...
4768  He didn't come looking for trouble, but troubl...    9367         5097
4769  A newlywed couple's honeymoon is upended by th...   72766         6485
4770                                               None  231617         7108
4771                           A New Yorker in Shanghai  126186         7109
4772                                               None   25975         7110

[4773 rows x 13 columns]

In [35]:
#Question 2: How do you get all data about directors?
q1= """SELECT * FROM directors; """
r1=pd.read_sql(q1,db)
print(r1)

                   name    id  gender      uid department
0         James Cameron  4762       2     2710  Directing
1        Gore Verbinski  4763       2     1704  Directing
2            Sam Mendes  4764       2       39  Directing
3     Christopher Nolan  4765       2      525  Directing
4        Andrew Stanton  4766       2        7  Directing
...                 ...   ...     ...      ...        ...
2344      Shane Carruth  7106       2    76624  Directing
2345   Neill Dela Llana  7107       0  1174437  Directing
2346        Scott Smith  7108       0  1219158  Directing
2347        Daniel Hsia  7109       2   208138  Directing
2348   Brian Herzlinger  7110       2    85563  Directing

[2349 rows x 5 columns]

In [36]:
#Question 3: Check how many movies are present in iMDB.
q1= """SELECT COUNT (*) from movies; """
r1=pd.read_sql(q1,db)
print(r1)

   COUNT (*)
0       4773

In [37]:
#Question 4: Find these 3 directors: James Cameron ; Luc Besson ; John Woo
q1= """SELECT * from directors where name == 'James Cameron' or name =='Luc Besson' or name =='John Woo';"""
r1=pd.read_sql(q1,db)
print(r1)

            name    id  gender    uid department
0  James Cameron  4762       2   2710  Directing
1       John Woo  4893       2  11401  Directing
2     Luc Besson  4949       2     59  Directing

In [38]:
#Question 5: Find all directors with name starting with Steven.
q1= """SELECT * from directors where name LIKE 'Steven%';"""
r1=pd.read_sql(q1,db)
print(r1)

                 name    id  gender    uid department
0    Steven Spielberg  4799       2    488  Directing
1   Steven Soderbergh  4909       2   1884  Directing
2        Steven Brill  5013       2  32593  Directing
3     Steven Zaillian  5117       2   2260  Directing
4        Steven Quale  5216       2  93214  Directing
5       Steven Seagal  5221       2  23880  Directing
6  Steven E. de Souza  5390       2   1726  Directing
7    Steven Shainberg  5803       2  67795  Directing
8    Steven R. Monroe  6713       2  88039  Directing

In [39]:
#Question 6: Count female directors.
q1= """ SELECT COUNT(*) from directors where gender == 1;"""
r1=pd.read_sql(q1,db)
print(r1)

   COUNT(*)
0       150

In [40]:
#Question 7: Find the name of the 10th first women directors?
q1= """ SELECT name
FROM directors
WHERE gender == 1
ORDER by id asc
limit 1 OFFSET 10;
"""
r1=pd.read_sql(q1,db)
print(r1)

           name
0  Karyn Kusama

In [41]:
#Question 8: What are the 3 most popular movies?
q1= """SELECT original_title
FROM movies
ORDER by popularity desc
limit 3;
 """
r1=pd.read_sql(q1,db)
print(r1)

  original_title
0        Minions
1   Interstellar
2       Deadpool

In [42]:
#Question 9: What are the 3 most bankable movies?
q1= """ SELECT original_title
FROM movies
ORDER by budget desc
limit 3;
 """
r1=pd.read_sql(q1,db)
print(r1)

                                original_title
0  Pirates of the Caribbean: On Stranger Tides
1     Pirates of the Caribbean: At World's End
2                      Avengers: Age of Ultron

In [43]:
#Question 10: What is the most awarded average vote since the January 1st, 2000?
q1= """
 SELECT original_title FROM movies
WHERE release_date > '2000-01-01'
ORDER by vote_average DESC
LIMIT 1;

 """
r1=pd.read_sql(q1,db)
print(r1)

  original_title
0      Sardaarji

In [44]:
#Question 11: Which movie(s) were directed by Brenda Chapman?
q1= """SELECT original_title FROM movies
JOIN directors ON directors.id = movies.director_id
WHERE directors.name = 'Brenda Chapman'; """
r1=pd.read_sql(q1,db)
print(r1)

  original_title
0          Brave

In [45]:
#Question 12: Whose director made the most movies?
q1= """SELECT name FROM directors
JOIN movies ON directors.id = movies.director_id
GROUP BY director_id ORDER BY count(name) DESC
limit 1; """
r1=pd.read_sql(q1,db)
print(r1)

               name
0  Steven Spielberg

In [46]:
#Question 13: Whose director is the most bankable?
q1= """
SELECT name FROM directors
JOIN movies ON directors.id = movies.director_id
GROUP BY director_id ORDER BY sum(budget) DESC
limit 1;

 """
r1=pd.read_sql(q1,db)
print(r1)

               name
0  Steven Spielberg